/* Projects grid */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) minmax(350px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

@media (max-width: 700px){
    .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Project card */

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1.5rem;
  box-sizing: border-box;

  background: var(--primary);
  color: var(--text);

  cursor: pointer;

  border: 1px solid
    oklch(from var(--primary) calc(l * var(--delta-over)) c h);
/* border-radius: 1rem; */

  transition:
    transform var(--base-trans-time) ease,
    box-shadow var(--base-trans-time) ease,
    background-color var(--base-trans-time) ease;
}

.project-card.featured {
  grid-column: span 2;
  /* padding: 2rem; */
}

@media (max-width: 700px) {
  .project-card.featured {
    grid-column: span 1;
  }
}

.project-card:hover {
  background: oklch(
    from var(--primary)
    calc(l * var(--delta-hover))
    c h
  );

  box-shadow:
    0 10px 30px
    oklch(from var(--text) l c h / 0.08);
}

/* Card header*/

.project-card h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.project-summary {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.5;

  color: oklch(
    from var(--text)
    calc(l * 0.85)
    c h
  );
}

/* Tech stack pills */

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;

  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.tech-stack li {
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  font-weight: 500;

  /* background: oklch(
    from var(--primary)
    calc(l * var(--delta-hover))
    c h
  ); */
  border: var(--text) solid 1px;    
  border-radius: 999px;
}

/* Highlights list */

.highlights {
  padding-left: 1rem;
  margin: 0;
  font-size: 0.9rem;
}

.highlights li {
  margin-bottom: 0.4rem;
}

/* Links */

.project-links {
  margin-top: auto;
  display: flex;
  gap: 1rem;
}

.project-links a {
  font-size: 0.85rem;
  font-weight: 500;

  color: var(--text);
  text-decoration: none;
}

.project-links a:hover {
  text-decoration: underline;
}
