/* Navbar layout*/

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;

  background: var(--nav-bg);
  border-bottom: 
    1px solid
    oklch(from var(--nav-bg) calc(l * var(--delta-over)) c h);

  box-sizing: border-box;

  transition:
    background-color var(--base-trans-time) ease,
    box-shadow var(--base-trans-time) ease;
}

/* Nav groups*/

.nav-left,
.nav-right {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  padding: 0rem 1rem;
}

.nav-right {
  justify-content: flex-end;
}

/* Nav lists */

.navbar-nav {
  display: flex;
  align-items: center;

  list-style: none;
  margin: 0;
  /* width: max-content; */
}

/*  Nav buttons*/

.nav-button {
  appearance: none;
  border: none;
  display: flex;
  align-items: center;

  background: var(--nav-bg);
  color: var(--text);

  height: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  /* line-height: 1; */
  /* border-radius: var(--nav-radius); */
  

  cursor: pointer;

  transition:
    background-color var(--base-trans-time) ease,
    transform var(--base-trans-time) ease;
}

.nav-button:hover {
  background: oklch(
    from var(--nav-bg)
    calc(l * var(--delta-hover))
    c h
  );
}

.nav-button:focus-visible {
  outline: 2px solid var(--text);
  outline-offset: 2px;
}

/*Theme dropdown */

.theme-menu {
  position: relative; 
}

.theme-dropdown {
  position: absolute;
  justify-self: center;
  top: calc(100% );
  right: 0rem;

  min-width: 90%;
  width: max-content;
  /* max-width: ; */
  padding: 0.25rem;
  margin: 0;

  list-style: none;
  background: var(--nav-bg);

  border: 1px solid
    oklch(from var(--nav-bg) calc(l * var(--delta-over)) c h);
  /* border-radius: 4px; */
}

/* Dropdown items */

.theme-dropdown li {
  padding: 0.4rem 0.6rem;
  font-size: 0.85rem;

  /* border-radius: 3px; */
  cursor: pointer;
}

.theme-dropdown li:hover {
  background: oklch(
    from var(--nav-bg)
    calc(l * var(--delta-hover))
    c h
  );
}

